
.head{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 100px;
}
.mintButton{
    border-radius: 15px;
    border: none;
    background-color: #adf300;
    height: 65px;
    color: #190838; 
    width: 225px;
    margin-top: 3px;
    margin-left: 30px;
    font-size: 35pt;
    font-family: 'Bebas Neue', cursive;
    box-shadow: 5px 6px 10px 3px rgba(0,0,0,.8);
  
}

.mintButton:hover{
    cursor: pointer;
}
.noTeamMessage{
    margin-left: 30px;
    margin-top: 0px;
    font-size: 25pt;
    font-weight: 300;
}
.center{
    text-align: center;
}
