
   
.playerCard{
    border-radius: 50%;
    width: 275px;
    height: auto;
    overflow: hidden;
}
.portrait{
    width: 270px;
    height: auto;
    margin: 0px auto -5px auto;
}
.portrait:hover{
    cursor: pointer;
}
.playerName {
    font-size: 15pt;
    margin-top: 15px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.modal-dialog {
    max-width: 800px;
    background-color: rgba(25, 8, 56, 0.8) ;
    border-radius: 15px;
    height: auto;
    padding: 20px 35px;
}

.playerCardName{
   font-size: 30pt;
   font-weight: bolder;
   color: whitesmoke;
   text-align: left;
   margin-bottom: 20px;
}
.playerImage {
    width: 400px;
    height: auto;
    margin-left: -70px;
}
.attribute{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    text-align: left;
}
.attributeValue{
    color: whitesmoke;
    font-weight: bold;
}